<div class="page-header">
  <center><h1>About IVP</h1></center>
</div>

<div class="container">
  <div class="col-md-8">
    <h3> History </h3>
    <p> With over 40 years of experience in the painting business, IVP Owner/Operator Hans Ingebretsen brings unequaled knowledge and experience to his work.<br>
    Ingebretsen Victorian Painting is a family business, and that means that clients are treated with the care and consideration inspired by real, personal relationships. The folks we work with are never just a check; we share the same goal of beautifying our clients' spaces, and cut no corners to achieve that goal.<br>
    IVP has been the leader in Painting in Northern California for decades; contact us about the work you need done, and experience why for yourself!
    </p>
    <h3> Commitment to Excellence </h3>
    <p>  Ingebretsen Victorian Painting is a family business, and that means that clients are treated with the care and consideration inspired by real, personal relationships. The folks we work with are never just a check; we share the same goal of beautifying our clients' spaces, and cut no corners to achieve that goal.<br>
    </p>
    <h3> Testimonials from Satisfied clients </h3>
    
    <p>  Ingebretsen Victorian Painting is a family business, and that means that clients are treated with the care and consideration inspired by real, personal relationships. The folks we work with are never just a check; we share the same goal of beautifying our clients' spaces, and cut no corners to achieve that goal.<br>
    </p>
  </div>
  </div>