<div class="page-header"> <h1><center>Gallery</center> </h1>
</div>

<div class="container">
  <div class="col-md-8">
  <p> Coming soon--a gallery with images of work complete by IVP over the years. </p>
  </div>
</div>
