<div class="page-header">
  <center><h1>Services</h1></center>
</div>

<div class="container">
  <div class="col-md-8">

    <h3> Interior Painting </h3>
      <p><em> 
        Many of life's best moments are spent within the home; often it's the backdrop for our most important memories. Let's make your interior space as beautiful as the memories that you're making.
        </em></p>
      <p> Ingebretsen Victorian Painting has the expertise you need to make your dream interior a reality. Our extensive experience means you can do it all with one phone call; picking colors and color-matching, restoring time-worn wooden fixtures, and of course getting a fully finished and professionally executed paint job on the rooms of your choice. </p>
  </div>

  <div class="col-md-8">
    <h3> Exterior Painting </h3>
      <p><em>
        The exterior of your home makes a statement. What do you want your house to say to your neighbors and friends? Let's make your exterior reflect the quality and aesthetic you want to present.
        </em></p>

        <p> Ingebretsen Victorian Painting has decades of experience beautifying exteriors; it isn't just a paint job, it's a restoration. Some paint companies give a home a minor face lift, laying paint directly on top of distressed surfaces. Not IVP; we spend more time and effort in prepping our surfaces then most companies spend on the entire job. With IVP you get the quality and results that four decades of experiences lends a business. Take a look at our gallery for a small sample of our work. 
        </p>
  </div>
  <div class="col-md-8">
    <h3> Commercial Painting </h3>
      <p><em> When a customer sees a shoddy paint job, they immediately feel they're entering a shoddy business. First Impressions Count; let's work together to put your best foot forward to your customers and clients. </em></p>    

    <p> We at IVP have had great success in helping our partners in business impress their clients with gorgeous exteriors and interiors. With satisfied clients all over Northern California, we've got a proven track record of excellence and professionalism in upgrading and maintianing the appearance of our corporate clients. </p>
    </div>


</div>



      




